:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --color-bg: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-primary: #3584e4; /* Adwaita Base Blue */
  --color-bg-secondary: #1e1e1e;
  
  background-color: var(--color-bg);
  color: var(--color-text);
  
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
